header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f55a5a;
  height: 80px;
  width: 100vw;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
nav .logo {
  font-size: 2rem;
}
nav p {
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: #ffffff;
}
